@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Kullanıcı Listesi";
    var userRoles = ViewBag.UserRoles as Dictionary<string, string>;
}



<h2>Kullanıcı Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Yetki</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    @if (userRoles.ContainsKey(user.Id))
                    {
                        <span class="badge @(userRoles[user.Id] == "Admin" ? "bg-success" : "bg-secondary")">
                            @userRoles[user.Id]
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">User</span>
                    }
                </td>
                <td>
                    @if (userRoles.ContainsKey(user.Id))
                    {
                        <form asp-controller="Admin" asp-action="UpdateUserRole" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <select name="role" class="form-select">
                            
                            </select>
                            <button type="submit" class="btn btn-primary mt-2">Güncelle</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin" asp-action="AssignAdminRole" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-primary">Admin Yap</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
