@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject DocumentApp.Data.ApplicationDbContext _context
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Admin Paneli";
    var user = await UserManager.GetUserAsync(User);
    var registeredUserCount = await UserManager.Users.CountAsync();
    var documentCount = await _context.Documents.CountAsync();
    var topicCount = await _context.Topic.CountAsync();
    var today = DateTime.Today;
    var tomorrow = today.AddDays(1);
    var documentsToday = await _context.Documents
        .Where(d => d.CreatedDate >= today && d.CreatedDate < tomorrow)
        .CountAsync();
    var topicsToday = await _context.Topic
        .Where(t => t.CreatedDate >= today && t.CreatedDate < tomorrow)
        .CountAsync();
    var usersToday = await _context.Users
        .Where(u => u.CreatedDate >= today && u.CreatedDate < tomorrow)
        .CountAsync();
}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-startbar="light" data-bs-theme="dark">


<!-- Mirrored from mannatthemes.com/rizz/default/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Feb 2025 10:46:34 GMT -->
<head>


    <meta charset="utf-8" />
    <title>EKGYO Döküman Sistemi | Admin Panel </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/template/assets/images/favicon-128.ico">



    <link rel="stylesheet" href="~/template/assets/libs/jsvectormap/css/jsvectormap.min.css">

    <!-- App css -->
    <link href="~/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/template/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/template/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Top Bar Start -->
    <div class="topbar d-print-none">
        <div class="container-xxl">
            <nav class="topbar-custom d-flex justify-content-between" id="topbar-custom">


                <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                    <li>
                        <button class="nav-link mobile-menu-btn nav-icon" id="togglemenu">
                            <i class="iconoir-menu-scale"></i>
                        </button>
                    </li>
                    <li class="mx-3 welcome-text">
                        <h3 class="mb-0 fw-bold text-truncate">Merhaba, @(user?.FullName ?? "ApplicationUser")</h3>
                    </li>
                </ul>
                <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                   
                    @* <li class="hide-phone app-search"> *@
                    @*     <form role="search" action="#" method="get"> *@
                    @*         <input type="search" name="search" class="form-control top-search mb-0" placeholder="Search here..."> *@
                    @*         <button type="submit"><i class="iconoir-search"></i></button> *@
                    @*     </form> *@
                    @* </li> *@

                    <li class="topbar-item">
                        <a class="nav-link nav-icon" href="javascript:void(0);" id="light-dark-mode">
                            <!-- Dark modda başlıyoruz, dolayısıyla sun simgesi görünür olacak -->
                            <i class="icofont-sun light-mode" style="display: block;"></i>
                            <i class="icofont-moon dark-mode" style="display: none;"></i>
                        </a>
                    </li>


                    @* <li class="dropdown topbar-item"> *@
                    @*     <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button" *@
                    @*        aria-haspopup="false" aria-expanded="false"> *@
                    @*         <i class="icofont-bell-alt"></i> *@
                    @*         <span class="alert-badge"></span> *@
                    @*     </a> *@
                    @*     <div class="dropdown-menu stop dropdown-menu-end dropdown-lg py-0"> *@

                    @*         <h5 class="dropdown-item-text m-0 py-3 d-flex justify-content-between align-items-center"> *@
                    @*             Notifications <a href="#" class="badge text-body-tertiary badge-pill"> *@
                    @*                 <i class="iconoir-plus-circle fs-4"></i> *@
                    @*             </a> *@
                    @*         </h5> *@
                    @*         <ul class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-1" role="tablist"> *@
                    @*             <li class="nav-item" role="presentation"> *@
                    @*                 <a class="nav-link mx-0 active" data-bs-toggle="tab" href="#All" role="tab" aria-selected="true"> *@
                    @*                     All <span class="badge bg-primary-subtle text-primary badge-pill ms-1">24</span> *@
                    @*                 </a> *@
                    @*             </li> *@
                    @*             <li class="nav-item" role="presentation"> *@
                    @*                 <a class="nav-link mx-0" data-bs-toggle="tab" href="#Projects" role="tab" aria-selected="false" tabindex="-1"> *@
                    @*                     Projects *@
                    @*                 </a> *@
                    @*             </li> *@
                    @*             <li class="nav-item" role="presentation"> *@
                    @*                 <a class="nav-link mx-0" data-bs-toggle="tab" href="#Teams" role="tab" aria-selected="false" tabindex="-1"> *@
                    @*                     Team *@
                    @*                 </a> *@
                    @*             </li> *@
                    @*         </ul> *@
                    @*         <div class="ms-0" style="max-height:230px;" data-simplebar> *@
                    @*             <div class="tab-content" id="myTabContent"> *@
                    @*                 <div class="tab-pane fade show active" id="All" role="tabpanel" aria-labelledby="all-tab" tabindex="0"> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">2 min ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-wolf fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Your order is placed</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing and industry.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">10 min ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-apple-swift fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Meeting with designers</h6> *@
                    @*                                 <small class="text-muted mb-0">It is a long established fact that a reader.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">40 min ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-birthday-cake fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">UX 3 Task complete.</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">1 hr ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-drone fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Your order is placed</h6> *@
                    @*                                 <small class="text-muted mb-0">It is a long established fact that a reader.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">2 hrs ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-user fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Payment Successfull</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                 </div> *@
                    @*                 <div class="tab-pane fade" id="Projects" role="tabpanel" aria-labelledby="projects-tab" tabindex="0"> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">40 min ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-birthday-cake fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">UX 3 Task complete.</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">1 hr ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-drone fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Your order is placed</h6> *@
                    @*                                 <small class="text-muted mb-0">It is a long established fact that a reader.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">2 hrs ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-user fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Payment Successfull</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                 </div> *@
                    @*                 <div class="tab-pane fade" id="Teams" role="tabpanel" aria-labelledby="teams-tab" tabindex="0"> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">1 hr ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-drone fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Your order is placed</h6> *@
                    @*                                 <small class="text-muted mb-0">It is a long established fact that a reader.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                     <!-- item--> *@
                    @*                     <a href="#" class="dropdown-item py-3"> *@
                    @*                         <small class="float-end text-muted ps-2">2 hrs ago</small> *@
                    @*                         <div class="d-flex align-items-center"> *@
                    @*                             <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle"> *@
                    @*                                 <i class="iconoir-user fs-4"></i> *@
                    @*                             </div> *@
                    @*                             <div class="flex-grow-1 ms-2 text-truncate"> *@
                    @*                                 <h6 class="my-0 fw-normal text-dark fs-13">Payment Successfull</h6> *@
                    @*                                 <small class="text-muted mb-0">Dummy text of the printing.</small> *@
                    @*                             </div><!--end media-body--> *@
                    @*                         </div><!--end media--> *@
                    @*                     </a><!--end-item--> *@
                    @*                 </div> *@
                    @*             </div> *@

                    @*         </div> *@
                    @*         <!-- All--> *@
                    @*         <a href="pages-notifications.html" class="dropdown-item text-center text-dark fs-13 py-2"> *@
                    @*             View All <i class="fi-arrow-right"></i> *@
                    @*         </a> *@
                    @*     </div> *@
                    @* </li> *@

                    <li class="dropdown topbar-item">
                        <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/template/assets/images/users/avatar-1.jpg" alt="" class="thumb-lg rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end py-0">
                            <div class="d-flex align-items-center dropdown-item py-2 bg-secondary-subtle">
                                <div class="flex-shrink-0">
                                    <img src="~/template/assets/images/users/avatar-1.jpg" alt="" class="thumb-md rounded-circle">
                                </div>
                                <div class="flex-grow-1 ms-2 text-truncate align-self-center">
                                    <h6 class="my-0 fw-medium text-dark fs-13">William Martin</h6>
                                    <small class="text-muted mb-0">Front End Developer</small>
                                </div><!--end media-body-->
                            </div>
                            <div class="dropdown-divider mt-0"></div>
                            <small class="text-muted px-2 pb-1 d-block">Account</small>
                            <a class="dropdown-item" href="pages-profile.html"><i class="las la-user fs-18 me-1 align-text-bottom"></i> Profile</a>
                            <a class="dropdown-item" href="pages-faq.html"><i class="las la-wallet fs-18 me-1 align-text-bottom"></i> Earning</a>
                            <small class="text-muted px-2 py-1 d-block">Settings</small>
                            <a class="dropdown-item" href="pages-profile.html"><i class="las la-cog fs-18 me-1 align-text-bottom"></i>Account Settings</a>
                            <a class="dropdown-item" href="pages-profile.html"><i class="las la-lock fs-18 me-1 align-text-bottom"></i> Security</a>
                            <a class="dropdown-item" href="pages-faq.html"><i class="las la-question-circle fs-18 me-1 align-text-bottom"></i> Help Center</a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item text-danger" href="auth-login.html"><i class="las la-power-off fs-18 me-1 align-text-bottom"></i> Logout</a>
                        </div>
                    </li>
                </ul><!--end topbar-nav-->
            </nav>
            <!-- end navbar-->
        </div>
    </div>
    <!-- Top Bar End -->
    <!-- leftbar-tab-menu -->
    <div class="startbar d-print-none">
        <!--start brand-->
        <div class="brand">
            <a href="#" class="logo">
                <span>
                    <img src="~/template/assets/images/LOGO_EKGYO (2).png" alt="logo-small" class="logo-sm">
                </span>
            </a>
        </div>
        <!--end brand-->
        <!--start startbar-menu-->
        <div class="startbar-menu">
            <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
                <div class="d-flex align-items-start flex-column w-100">
                    <!-- Navigation -->
                    <ul class="navbar-nav mb-auto w-100">
                        <li class="menu-label pt-0 mt-0">
                            <!-- <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small> -->
                            <span>Admin Menüsü</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UserList", "Admin")">
                                <i class="iconoir-user menu-icon"></i>
                                <span>Kullanıcı Yönetimi</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListDocuments", "Documents")">
                                <i class="iconoir-folder menu-icon"></i>
                                <span>Dökümanları Yönet</span>
                            </a>
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListTopic", "Topic")">
                                <i class="iconoir-hashtag menu-icon"></i>
                                <span>Konuları Yönet</span>
                            </a>
                        </li>

                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Kullanıcı Menüsü</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AddFile", "Documents")">
                                <i class="iconoir-upload menu-icon"></i>
                                <span>Döküman Yükle</span>
                                <span class="badge rounded text-success bg-success-subtle ms-1">New</span>
                            </a>
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CreateTopic", "Topic")">
                                <i class="iconoir-plus-circle menu-icon"></i>
                                <span>Konu Aç</span>
                            </a>
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("DocumentsList", "Documents")">
                                <i class="iconoir-folder menu-icon"></i>
                                <span>Dökümanları Görüntüle</span>
                            </a>
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("TopicList", "Topic")">
                                <i class="iconoir-list menu-icon"></i>
                                <span>Konuları Görüntüle</span>
                            </a>
                        </li><!--end nav-item-->

                    </ul><!--end navbar-nav--->
                </div>
            </div><!--end startbar-collapse-->
        </div><!--end startbar-menu-->
    </div><!--end startbar-->
    <div class="startbar-overlay d-print-none"></div>
    <!-- end leftbar-tab-menu-->








    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content">
            <div class="container-xxl">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                                    <div class="col-9">
                                        <p class="text-dark mb-0 fw-semibold fs-14">Döküman Sayısı</p>
                                        <h3 class="mt-2 mb-0 fw-bold">@documentCount</h3>
                                    </div>
                                    <!--end col-->
                                    <div class="col-3 align-self-center">
                                        <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                            <i class="iconoir-folder h1 align-self-center mb-0 text-secondary"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <p class="mb-0 text-truncate text-muted mt-3">
                                    Bugün
                                    <span class="text-success">@documentsToday</span>
                                    döküman yüklendi.
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                                    <div class="col-9">
                                        <p class="text-dark mb-0 fw-semibold fs-14">Konu Sayısı</p>
                                        <h3 class="mt-2 mb-0 fw-bold">@topicCount</h3>
                                    </div>
                                    <!--end col-->
                                    <div class="col-3 align-self-center">
                                        <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                            <i class="iconoir-hashtag h1 align-self-center mb-0 text-secondary"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <p class="mb-0 text-truncate text-muted mt-3">
                                    Bugün
                                    <span class="text-success">@topicsToday</span>
                                    Konu Açıldı
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                                    <div class="col-9">
                                        <p class="text-dark mb-0 fw-semibold fs-14">
                                            Kullanıcı Sayısı
                                        </p>
                                        <h3 class="mt-2 mb-0 fw-bold">@registeredUserCount</h3>
                                    </div>
                                    <!--end col-->
                                    <div class="col-3 align-self-center">
                                        <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                            <i class="iconoir-user h1 align-self-center mb-0 text-secondary"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <p class="mb-0 text-truncate text-muted mt-3">
                                    Bugün
                                    <span class="text-danger">@usersToday</span>
                                    kullanıcı katıldı.
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Audience Overview</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <a href="#" class="btn bt btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icofont-calendar fs-5 me-1"></i>
                                                This Year<i class="las la-angle-down ms-1"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Today</a>
                                                <a class="dropdown-item" href="#">Last Week</a>
                                                <a class="dropdown-item" href="#">Last Month</a>
                                                <a class="dropdown-item" href="#">This Year</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end card-header-->
                            <div class="card-body pt-0">
                                <div id="audience_overview" class="apex-charts"></div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold fs-14">Kayıtlı Kullanıcılar</p>
                                        <h2 class="mt-0 mb-0 fw-bold">@registeredUserCount</h2>
                                    </div>
                                    <!--end col-->
                                    <div class="col-auto align-self-center">
                                        
                                        
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <div id="visitors_report" class="apex-charts mb-2"></div>
                                <button type="button" class="btn btn-primary w-100 btn-lg fs-14">
                                    More
                                    Detail <i class="fa-solid fa-arrow-right-long"></i>
                                </button>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <!--end row-->
            </div><!-- container -->
            <!--Start Rightbar-->
            <!--Start Rightbar/offcanvas-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
                <div class="offcanvas-header border-bottom justify-content-between">
                    <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                    <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h6>Account Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch1">
                            <label class="form-check-label" for="settings-switch1">Auto updates</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                            <label class="form-check-label" for="settings-switch2">Location Permission</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch3">
                            <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                    <h6>General Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch4">
                            <label class="form-check-label" for="settings-switch4">Show me Online</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                            <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch6">
                            <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                </div><!--end offcanvas-body-->
            </div>
            <!--end Rightbar/offcanvas-->
            <!--end Rightbar-->
            <!--Start Footer-->

            @RenderBody()

            <footer class="footer text-center text-sm-start d-print-none">
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-0 rounded-bottom-0">
                                <div class="card-body">
                                    <p class="text-muted mb-0">
                                        ©
                                        <script> document.write(new Date().getFullYear()) </script>
                                        Emlak Konut GYO
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->
    <!-- Javascript  -->
    <!-- vendor js -->

    <script src="~/template/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/assets/libs/simplebar/simplebar.min.js"></script>

    <script src="~/template/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/template/assets/data/stock-prices.js"></script>
    <script src="~/template/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/template/assets/libs/jsvectormap/maps/world.js"></script>
    <script src="~/template/assets/js/pages/index.init.js"></script>
    <script src="~/template/assets/js/app.js"></script>
</body>
<!--end body-->
<!-- Mirrored from mannatthemes.com/rizz/default/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Feb 2025 10:47:05 GMT -->
</html>